* {
  font-family: "Monaco", serif;
  color: #FFFFFF;
  background: #000000;
  margin: 0;
  padding: 0;
}

.bar {}
.header {}
.left {}
.right {}
.top {}
.bottom {}
.button-div {}
.button {}
.logo {}
.small {}
